<script src="{{ 'vtc-booking.js' | asset_url }}" defer></script>

<div id="vtc-smart-booking-widget" style="display:none"></div>

{% schema %}
{
  "name": "VTC Smart Booking (App embed)",
  "target": "body",
  "settings": []
}
{% endschema %}
